[Unit]
Description=MQTT GPIO Controller
After=network-online.target wg-quick@wg0.service
Requires=network-online.target wg-quick@wg0.service


[Service]
ExecStart=/home/pi/Documents/lights-timer/RaspberryPi/gpio/gpio_user
WorkingDirectory=/home/pi/Documents/lights-timer/RaspberryPi/gpio/
Restart=always
RestartSec=5
User=pi
Group=gpio

[Install]
WantedBy=multi-user.target
