*.salive
detection.exe
RaspberryPi/sip/sip_receiver
RaspberryPi/sip/build/*
materials/~*
# ustawienia lokalne Android Studio
Android/.idea/*
RaspberryPi/mqtt/mqtt_gpio
SIPClient/.idea/*
SIPClient/app/src/main/res/raw/*.crt
IPClient/app/src/main/res/raw/*.cert

